*{
    margin: 0px;
    padding: 0px;
}


.bg_image{
    background-image:url("image/images.jpg");
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.bg_image1{
    background-image:url("image/12.jpg");
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

